@import "./vars";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: $bg;
  color: $main;
  min-height: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
p, h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
h4{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
ul{
  list-style: none;
}
.error{
  color: red;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.main{
  margin: 0 20px;
  overflow: hidden;
}
.swiper{
  margin-bottom: 35px !important;
}
.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  text-align: center;
}

@media (min-width: 640px) {
  .books {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .books {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (min-width: 1024px) {
  .books {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 32px;
  }
}

@media (min-width: 1280px) {
  .books {
    grid-template-columns: repeat(5, minmax(220px, 1fr));
  }
}

.button-container {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  margin-top: 40px; /* Отступ сверху */
}
.load{
  text-align: center;
}

.btn {
  cursor: pointer;
  background: #6A5ACD;
  text-transform: uppercase;
  font-size: 24px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background: #7B68EE;
}
iframe{
  width: 100%;
  height: 600px;
}
.v-application{
  background: none !important;
  color: inherit !important;
}
.bg-main{
  background: #6A5ACD;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7); /* Полупрозрачный фон */
  z-index: 1000;
}

.spinner {
  border: 4px solid #f3f3f3; /* Светлый цвет */
  border-top: 4px solid #3498db; /* Цветная верхняя часть */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Анимация вращения */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}